# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "none"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey "htybh4yap9fk45ppp8t0yrf8fwcydxzo"

# MySQL Connection
set mysql_connection_string "mysql://root:Ferflow63@127.0.0.1:3306/es_extended?charset=utf8mb4"

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
sets tags "roleplay,español,divertido"

# A valid locale identifier for your server's primary language.
sets locale "es-ES" 

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "Villa Pato RP"

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Permisos
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.license:c6c7a27b4c38108e5e4590518db4c1c00fe19302 group.admin #fer
add_ace identifier.license:c6c7a27b4c38108e5e4590518db4c1c00fe19302 "command.hypnonema" allow #hypnonema
add_principal identifier.license:5ff41a703394637abfbee60396dd47f8ec2e65b0 group.admin #rafa
add_principal identifier.license:16ef441a180bca848a76e0a4f86924c2496ee5b0 group.admin #Neiner
add_principal identifier.license:947670ecf4b80f88ded1a8998c2aee6c657608ab group.admin #Lechugo

# Permisos ESX
add_principal group.admin group.user
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

#Permisos Easy Admin

setr ea_LanguageName "es"                # set our language to english
setr ea_MenuButton "117"		 # set our menu button to F2

add_ace group.admin easyadmin allow

#vMenu
add_ace group.admin "vMenu.Everything" allow

# Hide player endpoints in external log output.
sv_endpointprivacy true

sv_tebexSecret "None"

# Server player slot limit (must be between 1 and 32, unless using OneSync)
set onesync on
sv_maxclients 48

# Load all resources
exec permissions.cfg
exec resources.cfg
exec vehiculos.cfg
exec mapas.cfg